data/backups/*
data/logs/*
tmp/*
cache/*
logs/*
data/restart_log.json
index.php.bak_*
!data/backups/.gitkeep
!data/logs/.gitkeep
!tmp/.gitkeep
!.gitignore

uploads/*
!uploads/.gitkeep

!uploads/clock/
uploads/clock/*
!uploads/clock/.gitkeep

!uploads/images/
uploads/images/*
!uploads/images/.gitkeep

!uploads/videos/
uploads/videos/*
!uploads/videos/.gitkeep

!uploads/pdf/
uploads/pdf/*
!uploads/pdf/.gitkeep

!uploads/pdf_rendered/
uploads/pdf_rendered/*
!uploads/pdf_rendered/.gitkeep

!uploads/websites/
uploads/websites/*
!uploads/websites/.gitkeep

*.bak_*
data/config.json
data/playlist.json
